
span{
    color: #d8d811;
    font-weight: 700;
    font-size: 3rem;
    
    
}

.menu{
    gap: 2rem;
    font-size: 1.2rem;
}
.menu__item:hover{
    background-color: #d8d811;
    
}
.logoCarrito{
    width: 60px;
    cursor: pointer;
    margin-bottom: 10px;
    
  }

.logoCarrito__contador{
    color: #f0f8ff;
   
}
