.cardProductos{
   display: grid;
   grid-template-columns:  repeat(3, 1fr);
    margin-top: 5rem;
    margin-left: 10rem;
    text-align: center;
    gap: 1rem;
}
.loading{
    color:#d8d811;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
}